body, .hobbies-page, .contact-page{
    background-color: aliceblue;
}
img{
    margin: 20px 30px -50px;
}

.header{


    background-color:#92B4F4;
    position: relative
}

.name{
    display: inline-block;
    magrin: 0;
    position: relative;
    top: -8px;
    font-size: 80px;

}

.career, .education, .work, .skills, .awards, .others, .hobbies, .facts, .personal, .contact{
    
    background-color: #4472CA;
    background-blend-mode:luminosity;
    width: 280px;
    height: 40px;
    border-radius:50px;
    
    text-align: center;
}




